@import '../../variables.less';

.page-header {
  border-bottom: 1px solid @borderColor;
  padding-bottom: 8px;
  padding-top: 16px;
  margin-bottom: @contentPadding;
  transition: left 300ms, opacity 150ms, transform 150ms, background-color 1000ms;
  &.fixed {
    position: fixed;
    top: @headerHeight;
    right: @contentPadding;
    left: @sideBarMaxWidth + @contentPadding;
    z-index: 8888;
    background-color: #fff;
  }
  &.collapsed {
    left: @sideBarMinWidth + @contentPadding;
  }
  &.full {
    left: @contentPadding;
  }
  &.hidden {
    display: none;
  }
  &.leaving {
    opacity: 0;
    transform: translate(0, 20px);
  }
  &.entered {
    opacity: 1;
    transform: translate(0, 0);
  }
  .header-title {
    font-weight: normal;
    display: inline-block;
  }
  .back-button {
    margin-right: 8px;
  }
  .ant-breadcrumb {
    float: right;
    margin-top: 4px;
    & > span {
      color: #999;
      a {
        color: #999;
        &:hover {
          color: #57c5f7;
        }
      }
      &:last-child {
        color: #666;
      }
    }
  }
  .breadcrumb-icon {
    margin-right: 4px;
  }
}
