import React, {Component} from 'react';
import './style.less';

export class LayoutComponent extends Component {

    static defaultProps = {

    };

    static propTypes = {

    };

    componentWillMount() {

    }

    render() {
        return (
            <div className="<%= className %>">
                这里填写代码
            </div>
        );
    }
}

export function mapStateToProps(state) {
    return {
        ...state.<%= reducerName %>,
    };
}
